* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(61, 60, 60);
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-color: rgb(212, 197, 114);
    scrollbar-width: thin;
}

.App {
    transition: all 0.3s ease;

}

.library-active {
    margin-left: 30%;
}

@import './player';
@import './song';
@import'./_library.scss';
@import'./_nav.scss';